/* Header */
@brand-banner-xlight: @purple-ro-xlight;
@brand-banner-light: @purple-ro-light;
@brand-banner-medium: @purple-ro-medium;
@brand-banner-dark: @purple-ro-dark;

/* Brand Colours */
@brand-major-xlight: @pink-xlight;
@brand-major-light: @pink-light;
@brand-major-medium: @pink-medium;
@brand-major-dark: @pink-dark;

@brand-minor-xlight: @blue-xlight;
@brand-minor-light: @blue-light;
@brand-minor-medium: @blue-medium;
@brand-minor-dark: @blue-dark;

@brand-danger-xlight: @red-xlight;
@brand-danger-light: @red-light;
@brand-danger-medium: @red-medium;
@brand-danger-dark: @red-dark;

@brand-success-xlight: @green-sr-xlight;
@brand-success-light: @green-sr-light;
@brand-success-medium: @green-sr-medium;
@brand-success-dark: @green-sr-dark;

@brand-info-xlight: @purple-ro-xlight;
@brand-info-light: @purple-ro-light;
@brand-info-medium: @purple-ro-medium;
@brand-info-dark: @purple-ro-dark;

@brand-warning-xlight: @orange-xlight;
@brand-warning-light: @orange-light;
@brand-warning-medium: @orange-medium;
@brand-warning-dark: @orange-dark;

// The background colour for 'Inverse' branded elements
@brand-inverse: @white;

/* Text Branding Colours */
@brand-major: @brand-major-dark;
@brand-minor: @brand-minor-dark;
@brand-success: @brand-success-dark;
@brand-warning: @brand-warning-dark;
@brand-danger: @brand-danger-dark;
@brand-info: @brand-info-dark;